.post_sjw_corpo {
    width: 100%;
    margin: 0 auto;
    background: #191919;
    padding: 30px;
    box-sizing: border-box;
}

.post_sjw_topo {
    width: 100%;
    height: 180px;
    background-image: url('https://i.imgur.com/gOZxTmT.gif');
    filter: grayscale(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border: 3px solid #fff;
    box-sizing: border-box;
}

.post_sjw_titulo_topo {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.post_sjw_barra_topo {
    background: #fff;
    color: #000;
    height: 35px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.post_sjw_postagem_corpo {
    margin-top: -25px;
    padding: 25px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.post_sjw_postagem_corpo p {
    color: #fff;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.2em;
}

/** Spoiler **/

.post_sjw_corpo .codebox.spoiler {
    background: #fff;
    padding: 5px;
    box-sizing: border-box;
    width: 100%!important;
    margin-bottom: 10px;
}

.post_sjw_corpo .codebox.spoiler dt {
    text-align: center;
}

.post_sjw_corpo .codebox.spoiler dt .genmed {
    color: #000;
    font-size: 1.1em;
    text-transform: uppercase;
}

.post_sjw_corpo .spoiler_closed {
    display: none;
}

.post_sjw_corpo .spoiler_content {
    border: none;
    background: #fff;
    color: #000;
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box;
    background-image: none!important;
}

/** **/

.post_sjw_char_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.post_sjw_avatar_info_img {
    border: 3px solid #cecece;
    width: 100px;
    height: 100px;
    background-image: url(https://i.imgur.com/O1EidBy.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}

.post_sjw_info_primario {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.post_sjw_info_secundario {
    width: 100%;
}

.post_sjw_primario_esq span, .post_sjw_primario_dir span {
    background: #000;
    color: #fff;
    padding: 5px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.post_sjw_primario_esq, .post_sjw_primario_dir {
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

span.sjw_title_info {
    margin-left: 0!important;
    text-transform: uppercase;
    background: #ccc;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

.post_sjw_char_info::before {
    content: 'Geral';
    width: 82%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: #cecece;
    padding: 5px;
    margin-bottom: 10px;
}

/** **/
.pos_sjw_his_ganhos::before, .pos_sjw_his_perdas::before, .pos_sjw_his_objetivos::before, .post_sjw_vantagens::before,
.post_sjw_desvantagens::before, .post_sjw_pericias::before, .pos_sjw_his_extra_title::before {
    display: block;
    background: #cecece;
    color: #000;
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto;
}

.pos_sjw_his_ganhos::before {
    content: 'Ganhos';
}

.pos_sjw_his_extra_title::before {
    content: 'Extras';
}

.pos_sjw_his_extra {
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
}

.post_sjw_vantagens::before {
    content: 'Vantagens';
}

.post_sjw_desvantagens::before {
    content: 'Desvantagens';
}

.post_sjw_pericias::before {
    content: 'Perícias';
}

.pos_sjw_his_perdas::before {
    content: 'Perdas';
}

.pos_sjw_his_objetivos::before {
    content: 'Objetivos';
}

.pos_sjw_his_ganhos, .pos_sjw_his_perdas, .pos_sjw_his_objetivos,
.post_sjw_vantagens, .post_sjw_desvantagens, .post_sjw_pericias,
.pos_sjw_his_extra {
    width: 90%;
    margin: 0 auto;
}

.pos_sjw_his_list, .pos_sjw_his_extra_title {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5px auto 10px auto;
}

.pos_sjw_his_list li {
    background: #000;
    padding: 5px 10px ;
    color: #fff;
    margin: 5px;
    display: flex;
    align-items: center;
}

.pos_sjw_obj_list {
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 8px;
}

.pos_sjw_obj_list_ok {
    background: #fff;
}

.post_sjw_contador {
    font-family: Tahoma;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    color: #000;
    padding: 10px;
    border-bottom-left-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: right;
    font-size: 12px;
}

.post_sjw_hp, .post_sjw_sp {
    padding: 5px;
    width: 45%;
    color: #fff;
    display: inline-block;
    text-align: center;
    background: #000;
}

.post_sjw_charInfo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}

