.post_sjw_corpo {
    width: 90%;
    margin: 0 auto;
    background: #191919;
    padding: 20px;
}

.post_sjw_topo {
    width: 100%;
    height: 180px;
    background-image: url('https://i.imgur.com/gOZxTmT.gif');
    filter: grayscale(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border: 3px solid #fff;
    box-sizing: border-box;
}

.post_sjw_titulo_topo {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.post_sjw_barra_topo {
    background: #fff;
    color: #000;
    height: 35px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.post_sjw_postagem_corpo {
    margin-top: -25px;
    padding: 25px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.post_sjw_postagem_corpo p {
    color: #fff;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.2em;
}

/** Spoiler **/

.codebox.spoiler {
    background: #fff;
    padding: 5px;
    box-sizing: border-box;
    width: 100%!important;
    margin-bottom: 10px;
}

.codebox.spoiler dt {
    text-align: center;
}

.codebox.spoiler dt .genmed {
    color: #000;
    font-size: 1.1em;
    text-transform: uppercase;
}

.spoiler_closed {
    display: none;
}

.spoiler_content {
    border: none;
    background: #fff;
    color: #000;
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box;
    background-image: none!important;
}

/** **/

.post_sjw_char_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.post_sjw_avatar_info_img {
    border: 3px solid #cecece;
    width: 100px;
    height: 100px;
    background-image: url(https://i.imgur.com/O1EidBy.jpg);
    background-position: center;
    background-size: cover;
}

.post_sjw_info_primario, .post_sjw_info_secundario {
    width: 50%;
    display: flex;
    margin-left: 30px;
    justify-content: space-around;
}

.post_sjw_primario_esq span, .post_sjw_primario_dir span,
.post_sjw_secundario_esq span, .post_sjw_secundario_dir1 span,
.post_sjw_secundario_dir2 span, .post_sjw_secundario_dir3 span {
    background: #000;
    color: #fff;
    padding: 5px;
    margin-bottom: 3px;
}

.post_sjw_primario_esq, .post_sjw_primario_dir,
.post_sjw_secundario_esq, .post_sjw_secundario_dir1,
.post_sjw_secundario_dir2, .post_sjw_secundario_dir3 {
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.post_sjw_info_secundario {
    width: 100%;
}
